# Python / Flask
__pycache__/
*.pyc
instance/
.env
*.db
venv/
app.log
migrations/

# Node.js / React
node_modules/
build/
dist/

# Model weights
*.pt
*.h5
*.ckpt

# VSCode settings
.vscode/

# Others
.DS_Store
